@inject ContactsServices contactsServices
@inject NewsServices newsServices

<tr @onclick="() => RowClick.InvokeAsync(contact)" class=@GetRowClass()>
    @if (newsServices.SendingMode)
    {
    <td class="p-2 border border-gray-300">
            <input @onchange="onCheange" type="checkbox">
    </td>
    }
    <td class="p-2 border border-gray-300">
        @contact.Name
    </td>
    @if(contact.Direction == (ContactDirection.Transmit | ContactDirection.Receive))
    {
        <td class="p-2 border border-gray-300">Transmit & Receive</td>
    }
    else
    {
        <td class="p-2 border border-gray-300">@contact.Direction.ToString()</td>
    }
    <td class="p-2 border border-gray-300">@contact.CreationDate</td>
</tr>

@code {
    [Parameter]
    public clsContact contact { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public EventCallback<clsContact> RowClick { get; set; }


    private string GetRowClass()
    {
        if (IsSelected)
        {
            return "bg-fw-blue-hover text-white cursor-pointer";
        }

        else
        {
            return "hover:bg-blue-300 cursor-pointer";
        }
    }

    private void onCheange()
    {
        if (contactsServices.CheckedContacts.Contains(contact))
        {
            contactsServices.CheckedContacts.Remove(contact);
        }

        else
        {
            contactsServices.CheckedContacts.Add(contact);
        }
    }
}
