@inject NewsServices newsServices
@inject UsersServices usersServices

<div class="fixed top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-10">
    <div class=" bg-white border-0 border-solid border-gray-50 rounded-md shadow-md min-w-[1000px] min-h-[750px] flex flex-col">
        <div class="bg-fw-blue p-4">
            <h2 class="text-4xl font-bold text-gray-50 ml-1.5">Edit Image</h2>
            <p class="text-l font-semibold text-gray-50 ml-1.5">Edit the folwing data to edit the selected image</p>
        </div>
        <div class="p-2">
            <button @onclick=ToggleBodySection class="@getClass(showBodySection)"><b>File Description</b></button>
            <button @onclick=ToggleImageSection class="@getClass(showImageSection)"><b>Image</b></button>
        </div>
        @if (showBodySection)
        {

            <div class="p-4 bg-gray-50">
                <div>
                    <label class="font-semibold" for="name">Title:</label>
                    <input class="p-2.5 w-full border-solid border-gray-300 border-2" @bind=title type="text" id="title" maxlength="255" />
                </div>
                <div>
                    <label class="font-semibold" for="description">Description:</label>
                    <input class="p-2.5 w-full border-solid border-gray-300 border-2" @bind=description type="text" id="title" maxlength="255" />
                </div>
                <div>
                    <label class="font-semibold" for="body">Body:</label>
                    <textarea @bind=body class="w-full border-solid border-gray-300 border-2 min-h-[400px]" maxlength="10000"></textarea>
                </div>
            </div>
        }
        @if (showImageSection)
        {
            <div class="flex-1 p-4">
                <InputFile class="input-file" OnChange="loadFiles" accept=".jpg,.jpeg,.png,.gif,.bmp" />
                @if (errors.Count > 0)
                {
                    <h2>Errors</h2>
                    <ul class="text-danger">
                        @foreach (var error in errors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
            </div>
        }

        <div class="flex justify-end gap-2 bg-gray-50 pr-6 pb-2.5">
            <button class="h-full text-xl bg-gray-200 hover:bg-fw-blue-hover hover:text-gray-50 text-gray-500 font-semiboldbold py-2 px-2" @onclick=saveRequest><b>Save</b></button>
            <button class="h-full text-xl bg-gray-200 hover:bg-rid hover:text-gray-50 text-gray-500 font-semiboldbold py-2 px-2" @onclick=cancelRequest><b>Cancel</b></button>
        </div>
    </div>
</div>


@if (showInvalidInfo)
{
    <InvalidInfoWindow Title="Empty Fields" OnClose="hideInvalidInfo" />
}

@code {
    [Parameter]
    public EventCallback<clsPhoto> OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    // Binded
    private clsPhoto selectedPhoto;
    private string title;
    private string description;
    private string body;
    IBrowserFile Ifile = null;
    private string newImagePath;

    // Display
    private bool showInvalidInfo = false;
    private bool showBodySection = true;
    private bool showImageSection = false;

    // Other
    private long maxFileSize = 1024 * 1024 * 5;
    private List<string> errors = new();

    protected override void OnInitialized()
    {
        selectedPhoto = (clsPhoto) newsServices.SelectedFile;

        title = selectedPhoto.Name;
        description = selectedPhoto.Description;
        body = selectedPhoto.Body;

        base.OnInitialized();
    }

    private void ToggleBodySection()
    {
        showBodySection = true;
        showImageSection = false;
    }

    private void ToggleImageSection()
    {
        showImageSection = true;
        showBodySection = false;
    }

    private void loadFiles(InputFileChangeEventArgs e)
    {
        errors.Clear();
        Ifile = e.File;
    }

    private async Task saveNewImage(Guid guid)
    {
        try
        {
            if (Ifile != null)
            {
                newImagePath = Path.Combine(EditBeforeRun.PhotosLocation, guid.ToString() + Path.GetExtension(Ifile.Name));

                await using FileStream fs = new(newImagePath, FileMode.Create);
                await Ifile.OpenReadStream(maxFileSize).CopyToAsync(fs);
            }
        }

        catch (Exception ex)
        {
            errors.Add($"File: {Ifile.Name} Error: {ex.Message}");
        }
    }

    private string getClass(bool enable)
    {
        if (enable)
        {
            return "bg-fw-blue hover:bg-fw-blue-hover rounded-md mr-2 text-white p-1 cursor-pointer";
        }

        else
        {
            return "bg-disable hover:bg-disable-hover rounded-md mr-2 text-white p-1 cursor-pointer";
        }
    }

    private async Task cancelRequest()
    {
        title = String.Empty; description = String.Empty; body = String.Empty;
        await OnCancel.InvokeAsync();
    }

    private async Task saveRequest()
    {
        if ((title == String.Empty) || (title == null) || (description == String.Empty) || (description == null) || (body == String.Empty) || (body == null))
        {
            showInvalidInfo = true;
        }

        else
        {

            clsPhoto editedPhoto = new clsPhoto()
                {
                    Id = newsServices.SelectedFile.Id
                };

            await editedPhoto.ReadAsync();

            Guid oldguid = newsServices.SelectedFile.Id;
            Guid newGuid = Guid.NewGuid();

            if (Ifile != null)
            {
                File.Delete(editedPhoto.Location); // Delete old Image
                await saveNewImage(oldguid); //Save New Image with the same name and path
            }

            editedPhoto.Name = title;
            editedPhoto.Description = description;
            editedPhoto.Body = body;
            editedPhoto.LastModifierId = usersServices.LoggedInUser.Id;
            editedPhoto.LastModifierName = usersServices.LoggedInUser.Name;

            await OnSave.InvokeAsync(editedPhoto);
        }
    }

    private void hideInvalidInfo() { showInvalidInfo = false; }
}
