@inject ContactsServices contactsServices
@inject NewsServices newsServices


<div class="table-container">
    <table class="w-full mt-2">
        <thead class="cursor-default">
            <tr>
                @if (newsServices.SendingMode)
                {
                    <th class="p-2 border border-gray-300 bg-fw-blue text-white">Select</th>
                }
                <th class="p-2 border border-gray-300 bg-fw-blue text-white">Name</th>
                <th class="p-2 border border-gray-300 bg-fw-blue text-white">Direction</th>
                <th class="p-2 border border-gray-300 bg-fw-blue text-white max-w-xs">Creation Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contactsServices.AllContacts)
            {
                @if (newsServices.SendingMode)
                {
                    @if ((contact.Direction & ContactDirection.Transmit) == ContactDirection.Transmit)
                    {
                        <ContactItem RowClick="OnRowClick" IsSelected="@IsContactSelected(contact)" contact="contact" />
                    }
                }
                else
                {
                    <ContactItem RowClick="OnRowClick" IsSelected="@IsContactSelected(contact)" contact="contact" />
                }
            }
        </tbody>
    </table>
</div>

@code {
    private bool IsContactSelected(clsContact contact)
    {
        return contactsServices.SelectedContact == contact;
    }

    [Parameter]
    public EventCallback<clsContact> OnRowClick { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await contactsServices.AddDBContactsToContactsList();
    }

}
