USE [FileworxClientDB]
GO
/****** Object:  Table [dbo].[T_USER]    Script Date: 8/20/2023 9:47:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USER](
	[ID] [nvarchar](40) NOT NULL,
	[C_USERNAME] [nvarchar](255) NULL,
	[C_PASSWORD] [nvarchar](255) NULL,
	[ISADMIN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_C_USERNAME] UNIQUE NONCLUSTERED 
(
	[C_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_USER]  WITH CHECK ADD  CONSTRAINT [FK_T_USER_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[T_BUSINESSOBJECT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_USER] CHECK CONSTRAINT [FK_T_USER_ID]
GO
