USE [FileworxClientDB]
GO
/****** Object:  Table [dbo].[T_NEWS]    Script Date: 8/20/2023 9:47:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NEWS](
	[ID] [nvarchar](40) NOT NULL,
	[C_CATEGORY] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_NEWS]  WITH CHECK ADD  CONSTRAINT [FK_T_NEWS_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[T_BUSINESSOBJECT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_NEWS] CHECK CONSTRAINT [FK_T_NEWS_ID]
GO
