USE [FileworxClientDB]
GO
/****** Object:  Table [dbo].[T_CLASSTYPE]    Script Date: 8/20/2023 9:47:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CLASSTYPE](
	[C_CLASSID] [int] NOT NULL,
	[C_TYPE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
