USE [FileworxClientDB]
GO
/****** Object:  Table [dbo].[T_BUSINESSOBJECT]    Script Date: 8/20/2023 9:47:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BUSINESSOBJECT](
	[ID] [nvarchar](40) NOT NULL,
	[C_DESCRIPTION] [nvarchar](255) NULL,
	[C_MODIFICATIONDATE] [date] NULL,
	[C_CREATORID] [nvarchar](40) NULL,
	[C_LASTMODIFIERID] [nvarchar](40) NULL,
	[C_NAME] [nvarchar](255) NULL,
	[C_CLASSID] [int] NULL,
	[C_CREATIONDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_BUSINESSOBJECT]  WITH CHECK ADD  CONSTRAINT [FK_CLASSID] FOREIGN KEY([C_CLASSID])
REFERENCES [dbo].[T_CLASSTYPE] ([C_CLASSID])
GO
ALTER TABLE [dbo].[T_BUSINESSOBJECT] CHECK CONSTRAINT [FK_CLASSID]
GO
ALTER TABLE [dbo].[T_BUSINESSOBJECT]  WITH CHECK ADD  CONSTRAINT [FK_CREATOR] FOREIGN KEY([C_CREATORID])
REFERENCES [dbo].[T_USER] ([ID])
GO
ALTER TABLE [dbo].[T_BUSINESSOBJECT] CHECK CONSTRAINT [FK_CREATOR]
GO
ALTER TABLE [dbo].[T_BUSINESSOBJECT]  WITH CHECK ADD  CONSTRAINT [FK_MODIFIER] FOREIGN KEY([C_LASTMODIFIERID])
REFERENCES [dbo].[T_USER] ([ID])
GO
ALTER TABLE [dbo].[T_BUSINESSOBJECT] CHECK CONSTRAINT [FK_MODIFIER]
GO
